/* color scheme */
/* text: #1C140D */
/* #ff6533 */
/* #555555*/

/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Custom font */
@font-face {
    font-family: 'plainblacknormal';
    src: url('Plain_Black-webfont.eot');
    src: url('Plain_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Plain_Black-webfont.woff2') format('woff2'),
         url('Plain_Black-webfont.woff') format('woff'),
         url('Plain_Black-webfont.ttf') format('truetype'),
         url('Plain_Black-webfont.svg#plainblacknormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
  font-size:14px;
}

/* main website background color (white) */
body{
  background-color: #FFFFFF
}

/* adds colored shadow to navigational bar */
.top-bar{
  box-shadow: 0px 3px 6px 0px #1C140D;


}

/* positions the words "Skinner family Association" */
.SFA{
  padding: 1%;


}

/*make the box for the SFA */
.SFAcolors{
    padding: 0.2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius:10px;
    background-color: #ff6533;
    box-shadow: 10px 10px 10px 8px #555555;
    margin-bottom:2rem;
}

@media only screen and (max-width: 480px){
.SFAcolors{
  padding:2%;
margin:0%;
}
}
/* Caption margins */
.margincap{

    margin-bottom: 2%
}
/* h1 styling */
h1{
    font-family: 'plainblacknormal';
    color: #1C140D;
    font-size: 400%;
    padding: 3% 0% 0% 0%;

}

/* h2 styling
h2{
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}*/

/* h3 styling */
h3{
  font-size: 125%;
  padding-bottom:1%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-bottom: groove;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:5%;
}

@media only screen and (max-width: 480px){
h3{
  margin-top:10%;
}
}
/* p styling */
.paragraph{
  margin-left: 18%;
  margin-right: 18%;
    margin-top:1%;
  /*border:1px red solid;*/
}

@media only screen and (max-width: 480px){
  .paragraph{
    margin-top:2%;
    margin-left: 1%;
    margin-right:1%;
  }
}

/* Email/Queries formatting */
.email-query{

    border-bottom: groove;
    border-top: groove;
    margin-left: 1%;
    margin-right: 1%;
}

.email-query-links{
    font-size: 140%;
}
